<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ $.Site.Title }}</title>
    <link rel="stylesheet" href="/styles/{{ if isset .manifest "main_css" }}{{ .manifest.main_css }}{{ else }}main.css{{ end }}"/>
    {{/* Preload the fonts required by the site for faster load times */}}
    <link rel="preload" href="/other/fonts/Metropolis-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
    <link rel="preload" href="/other/fonts/Metropolis-SemiBold.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=IntersectionObserver" defer></script>
    <script src="/js/{{ if isset .manifest "main_js" }}{{ .manifest.main_js }}{{ else }}main.js{{ end }}" defer ></script>
    {{/* Page variables for JS file */}}
    <script>
      var pageVariables = {
        techSvgURI: '/img/svgSprites/{{ if isset .manifest "tech_svg" }}{{ .manifest.tech_svg }}{{ else }}tech.svg{{ end }}',
      };
    </script>
  </head>
  <body class="{{ .class }}">


    <div style="height: 0;overflow:hidden;">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 497.5 127.1">
        <defs>
          <clipPath id="nav-clippath">
            <path d="M0 0c29.7 30.5 77.7 71.2 146.4 98.5C310.2 163.4 461.9 100 497.5 84V0H0z" fill="#fff"/>
          </clipPath>
        </defs>
      </svg>
    </div>

    <header class="header">
      <svg class="header__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 143.6" preserveAspectRatio="none"><path d="M0 0v127c44.6 12.9 128.2 26.2 231.7 6.7 43.8-8.2 73.3-29.4 88.3-44.7V0H0z" fill="#e87051"/></svg>
      <div class="header__content">
        <a href="/" class="header__logo">Jimmy Thompson</a>
        <nav class="header__nav">
          <ul>
            <li>
              <a href="/#about">About</a>
            </li>
            <li>
              <a href="/#portfolio">Portfolio</a>
            </li>
            <li>
              <a href="/#technology">Tech<span class="header__nav__hide">nology</span></a>
            </li>
            <li>
              <a href="/#contact">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main>