.DS_Store
node_modules
dist

# Ignore npm debug
npm-debug.log

# Don't wanna use lock files
package-lock.json

# temp files created in build process
gulp-manifest.json
webpack-manifest.json

# Used when revisioning files
site/data/manifest.json