.about {
  // overflow: hidden; // Must be visible as chrome will not anchor to .title-anchor properly if this is set
  margin-bottom: 5rem;
  padding-bottom: 2rem;

  &__content {
    overflow: hidden;
    padding-top: 1.5rem;
  }

  &__social {
    position: relative;
    width: 100%;
    right: -3.5rem;
    max-width: 18.125rem;

    &__github {
      left: 2rem;
      bottom: 4rem;
      width: 4.5rem;
    }

    &__linkedin {
      width: 3.5rem;
      top: 2rem;
      right: 4.5rem;
    }

    &__github,
    &__linkedin {
      display: block;
      position: absolute;

      path {
        transition: fill 0.3s ease-in-out;
      }

      &:hover,
      &:focus {

        path {
          fill: $lightOrange;
        }

      }

    }

  }

  &::before {
    content: '';
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background: $darkOrange;
    position: absolute;
    bottom: -3rem;
    left: 5rem;
    border-radius: 50%;
    border-top-left-radius: 40% 43%;
    transform: rotate(30deg);
  }

}

@media (min-width: 75em) { // 1200px

  .about {

    &__wrapper {
      padding-right: calc(100% - 35.8rem);
    }

    &__social {
      position: absolute;
      right: -3rem;
      top: 2rem;
    }

  }

}

@media (min-width: 88.75em) { // 1420px

  .about {

    &__wrapper {
      padding-right: 23.2rem;
    }

  }

}