body {
  padding-top: 5.5rem;
}

.header {
  position: fixed;
  overflow: hidden;
  height: 5.5rem;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  transition: transform 0.5s ease-in-out;

  &::before {
    content: '';
    display: block;
    position: absolute;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #e87051;
    transform: translateY(-100%);
    transition: transform 0.5s ease-in-out;
  }

  &__svg {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
  }

  &__logo {
    font-weight: 600;
    font-size: 1.125rem;
    text-transform: uppercase;
    display: block;
    padding: 1rem 0 0.5rem;
  }

  &__nav {

    &__hide {
      display: none;
    }

    ul {
      @include ulReset;
      display: flex;
      margin: 0 -0.5rem;
    }

    a {
      display: block;
      padding: 0.5rem;
      font-size: 0.9375rem;
    }

  }

  a {
    color: #fff;
  }

  &--scrolled {
    transform: translateY(-3.1875rem);

    &::before {
      transform: none;
    }

  }

}
