.technology {
  background: $lightOrange;
  color: #fff;
  padding: 3rem 0 2rem;

  &__items {
    margin-left: -1rem;
    margin-right: -1rem;
    padding-bottom: 1rem; 

    .d-carousel__outer {
      padding-left: 0.5rem;
    }
    
  }

  &__item {
    width: 7.875rem;
    height: 7.875rem;
    display: block;
    background: #fff;
    border-radius: 50%;

  }

}