.technology {
  background: $lightOrange;
  color: #fff;
  padding: 3rem 0 2rem;

  &__items {
    margin-left: -1rem;
    margin-right: -1rem;
    padding-bottom: 1rem; 

    .d-carousel__outer {
      padding-left: 0.5rem;
    }
    
  }

  &__item {
    width: 7.875rem;
    height: 7.875rem;
    display: block;
    background: #fff;
    border-radius: 50%;

  }

}


@media (min-width: 68.75em) { // 1100px

  .technology {

    &__items {
      margin: 0 auto;
      padding: 0;
      max-width: 48rem;
    }

    .d-carousel {

      &__outer {
        padding: 0;
      }

      &__inner {
        padding: 0;
      }

      &__item {
        padding: 0;
        margin: 0 3rem 3rem 0;

        
        &:nth-child(4n) {
          margin-right: 0;
        }

      }

      &__ul {
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 0;
      }

      &__next,
      &__prev {
        display: none;
      }

    }

  }

}

@media (min-width: 93.75em) { // 1500px

  .technology {

    &__items {
      max-width: 52rem;
    }

    .d-carousel {

      &__item {

        &:nth-child(4n) {
          margin-right: 3rem;
        }

        &:nth-child(5n) {
          margin-right: 0;
        }

      }

    }

  }

}