<script class="page-variables" type="application/json">
  {"className": "portfolio-page"}
</script>

{{/*
  TODO: Add metaball animation behind the banner
  TODO: Add section that shows what the technologies/tools used were
*/}}
<div class="portfolio-page__banner">
  <div class="wrapper portfolio-page__banner__wrapper">
    <h1 class="portfolio-page__title">
      {{ .Title }}
      <a href="{{ .Params.link }}" class="button a-reset" target="_blank" rel="noopener">View Project</a>
    </h1>
  </div>
</div>

<div class="wrapper">
  {{ .Content }}
</div>