*, *::before, *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.wrapper{
  position: relative;
  padding: 0 1rem;
  width: 100%;
}


.t-center {
  text-align: center;
}

.subtitle {
  margin-top: -1rem;
}

main {

  ul:not(.reset) {
    @include ulReset;
    margin-bottom: 1.5rem;

    li {
      margin-bottom: 1rem;
      padding-left: 1.5rem;
      position: relative;
  
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0.35rem;
        background: $lightOrange;
        border-radius: 50%;
        width: 0.75rem;
        height: 0.75rem;
      }
  
    }

  }

}