*, *::before, *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.wrapper{
  position: relative;
  padding: 0 1rem;
  width: 100%;
  max-width: 59rem;
  margin: 0 auto;
}


.t-center {
  text-align: center;
}

.subtitle {
  margin-top: -1rem;
}

.d-orange {
  color: $darkOrange;
}

// title stays in same place but anchor point is 5rem above title text
.title-anchor {
  padding-top: 5rem;
  margin-top: -5rem;
}

// Make items higher up have a higher z-index so anyoverlapping title anchors
// don't block click events

.about, .portfolio, .technology, .contact {
  position: relative;
}

.technology {
  z-index: 1;
}

.portfolio {
  z-index: 2;
}

.about {
  z-index: 3;
}

main {

  ul:not(.reset) {
    @include ulReset;
    margin-bottom: 1.5rem;

    li {
      margin-bottom: 1rem;
      padding-left: 1.5rem;
      position: relative;
  
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0.35rem;
        background: $lightOrange;
        border-radius: 50%;
        width: 0.75rem;
        height: 0.75rem;
      }
  
    }

  }

}

@media (min-width: 56.25em) { // 900px

  .title-anchor {
    padding-top: 3rem;
    margin-top: -3rem;
  }

}